#grid_container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 1px solid blue;
    box-sizing: border-box;
   
}

#grid_container > div {
    width: 6.25%;
    height: 6.25%;
    border: 1px solid black;
    box-sizing: border-box;
}