#grid_container {
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    height: 650px;
    border: 1px solid black;
    box-sizing: border-box;
   
}

#grid_container > div {
    width: 6.25%;
    height: 6.25%;
    opacity: 100%;
    box-sizing: border-box;
}